.container {

    display: grid;
    /* grid-template: repeat(8,1fr) / repeat(8,1fr); */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    grid-gap: 20px;

}

.pic {

    /* background-size: contain; */
    background-repeat: no-repeat;
    

}

.pic1 {

    background-image: url(https://images.unsplash.com/photo-1652306344594-09b1581847ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=996&q=80);
    grid-column: 1/5;
    grid-row: 1/3;
    background-size: cover;

}

.pic2 {

    background-image: url(https://images.unsplash.com/photo-1652331365168-33d74b09305e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    grid-column: 5/9;
    grid-row: 1/6;
    background-size: cover;

}

.pic3 {

    background-image: url(https://images.unsplash.com/photo-1652236230937-4d7e37a5ca83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=783&q=80);
    grid-column: 1/3;
    grid-row: 3/6;
    background-size: cover;

}

.pic4 {

    background-image: url(https://images.unsplash.com/photo-1652261058263-783884cd15de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    grid-column: 3/5;
    grid-row: 3/6;
    background-size: cover;


}

.pic5 {

    background-image: url(https://images.unsplash.com/photo-1652200841439-156911e4def1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-column: 1/5;
    grid-row: 6/9;
    background-size: cover;

}

.pic6 {

    background-image: url(https://images.unsplash.com/photo-1651818575507-22bc912f2897?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    grid-column: 5/9;
    grid-row: 6/9;
    background-size: cover;

}