body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(white));
  background-image: linear-gradient(#fafafa, white);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: #6BB8AC;
  padding: 10px 10%;
}

.nav {
  background-color: pink;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
  width: 95%;
  font-size: 2em;
  opacity: 0.8;
  border-radius: 5px;
}

.nav .nav__item {
  padding: 10px;
}

.nav .nav__item a:hover {
  display: inline-block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: black !important;
}

.nav .logo {
  height: 100px;
}

.hero-container {
  width: 96%;
  overflow: hidden;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  border-radius: 5px;
  background-image: url(https://images.unsplash.com/photo-1598493253885-86de2c64b0a3?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1783);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.flex-container {
  width: 96%;
  overflow: hidden;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-container .flex-container__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.flex-container .pic1 {
  background-image: url(https://images.unsplash.com/photo-1517327551533-5a804593492c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181);
}

.flex-container .pic2 {
  background-image: url(https://images.unsplash.com/photo-1652288748605-3bba47b553e1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1222);
}

.flex-container .pic3 {
  background-image: url(https://images.unsplash.com/photo-1630173209442-83f4e940b66b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180);
}

@media screen and (max-width: 900px) {
  .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .flex-container .flex-container__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media screen and (max-width: 700px) {
  .flex-container {
    gap: 5px;
  }
  .flex-container .flex-container__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  /* grid-template: repeat(8,1fr) / repeat(8,1fr); */
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 98%;
  height: 100vh;
  grid-gap: 20px;
}

.grid-container .grid__item {
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.grid-container .img1 {
  background-image: url(https://images.unsplash.com/photo-1588714225808-84c439557977?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.grid-container .img2 {
  background-image: url(https://images.unsplash.com/photo-1611588209259-43b70eae75da?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.grid-container .img3 {
  background-image: url(https://images.unsplash.com/photo-1572337486391-0a2953eaaadf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

@media screen and (max-width: 900px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    width: 98%;
    height: 100vh;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .grid-container .grid__item {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
  .grid-container .img1 {
    background-image: url(https://images.unsplash.com/photo-1588714225808-84c439557977?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-container .img2 {
    background-image: url(https://images.unsplash.com/photo-1611588209259-43b70eae75da?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062);
    grid-column: inherit;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-container .img3 {
    background-image: url(https://images.unsplash.com/photo-1572337486391-0a2953eaaadf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    grid-column: inherit;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    width: 98%;
    height: 100vh;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .grid-container .grid__item {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
  .grid-container .img1 {
    background-image: url(https://images.unsplash.com/photo-1588714225808-84c439557977?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-container .img2 {
    background-image: url(https://images.unsplash.com/photo-1611588209259-43b70eae75da?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062);
    grid-column: inherit;
    grid-row: inherit;
  }
  .grid-container .img3 {
    background-image: url(https://images.unsplash.com/photo-1572337486391-0a2953eaaadf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    grid-column: inherit;
    grid-row: inherit;
  }
}
/*# sourceMappingURL=style.css.map */